{% extends 'main.html' %}
{% load static %}
{% block Content %}
<div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Login / SignUp</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="/">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Login / SignUp</p>
        </div>
    </div>
</div>

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="contact-form bg-light rounded p-5">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method='POST'>
                        <div class="form-row">
                            <div class="col-sm-6 control-group">
                                <input type="text" class="form-control p-4" id="name" name="name" placeholder="User Name" required="required" data-validation-required-message="Please enter your username" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-sm-6 control-group">
                                <input type="password" class="form-control p-4" id="Password" name="Password" placeholder="Password" required="required" data-validation-required-message="Please enter your password" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-primary btn-block py-3 px-5" type="login" id="sendMessageButton">Login</button>
                            <p><a href="{% url 'signup' %}">For New User Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock Content %}